/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

*{
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}

/* Header uchun style */

.header{
  background-color: #1C1814;
  padding: 20px 0;
}

.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-list__item{
  list-style: none;
}

.nav-list__item-link{
  color: white;
  text-decoration: none;
  font-weight: 600;
}

/* Hero uchun style */

.hero{
  width: 100%;
  height: auto;
  background-image: url('./assets/hero-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content{
  width: 100%;
  max-width: 529px;
  padding: 80px 0;
}

.hero-content__title{
  font-size: 72px;
  color: #fff;
}

.hero-content__desc{
  font-size: 20px;
  color: #fff;
}

.hero-btn{
  padding: 24px 40px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  background-color: #C99E71;
  color: #fff;
}